body {
    background-color: var(--color-alternative);
    color: var(--color-text);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    font-family: 'Roboto', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


:root {
    --color-text: #434455;
    --color-main: #4D5AE5;
    --color-hover: #404BBF;
    --color-text-accent: #2E2F42;
    --color-text-unaccent: #F4F4FD;
    --color-alternative: #fff;
}

/* common styles */

.conteiner {
    width: 1158px;
    margin: 0px auto;
    padding: 0px 15px;
    outline: 1px dotted tomato;
    background-color: #E7E9FC;
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-text-accent);
}

.section-title {

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-text-accent);
}

.card-img {
    max-width: 100%;
    display: block;
}

/* header */

.logo-web {
    color: var(--color-main)
}

.logo-header {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-text-accent);
    margin-right: 78px;
}

.header {
    display: flex;
    margin-bottom: 24px;
    margin-top: 24px;
    align-items: center;
}

.header-nav {
    display: flex;
}

.nav-list {
    display: flex;
}

.nav-list li:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    font-weight: 500;
    color: var(--color-text-accent);
    text-decoration: none;

}

.nav-link:hover,
.nav-link:focus {
    color: var(--color-hover);
}

.address-link {
    text-decoration: none;
    color: var(--color-text-accent);
    font-style: normal;
}

.address-list {
    display: flex;
}

.address li:not(:last-child) {
    margin-right: 40px;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-link:hover,
.address-link:focus {
    color: var(--color-hover);
}

/* hero */
.hero {

    background-color: var(--color-text-accent);
    text-align: center;
    padding: 188px 0px;
    width: 1440px;
    margin: 0px auto 120px;
}

.hero-header {
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: var(--color-alternative);

}

.hero-btn {
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--color-alternative);
    background-color: var(--color-main);
    cursor: pointer;
    border-width: 0;
    width: 169px;
    height: 46px;
    border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--color-hover);
    color: inherit;
}

/* Features */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features {
    margin-bottom: 120px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -24px;
    margin-top: -24px;
}

.features-item {
    flex-basis: calc((100% - 30px)/ 4 - 24px);
    margin-right: 24px;
    margin-top: 24px;
    outline: 1px dotted rgb(149, 180, 12);
}

.features-item-header {
    margin-bottom: 8px;
}

/* doing */
.doing {
    margin-bottom: 120px;
}

.doing-header {
    margin-bottom: 72px;
}

.doing-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* team */
.team {
    margin-bottom: 120px;
    padding-top: 120px;
    background-color: var(--color-text-unaccent);
}

.team-header {
    margin-bottom: 72px;
}

.team-conteiner {
    display: flex;
    justify-content: space-between;
}

.team-card {
    flex-basis: 264px;
}

.team-card>h3 {
    padding-bottom: 8px;
}

.team-card-description {
    padding: 32px 16px;
    background-color: var(--color-alternative);
    text-align: center;
}




.our-products-btn {
    background-color: var(--color-text-unaccent);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: var(--color-main);
    cursor: pointer;

    border-width: 0;
}

.our-products-btn:hover,
.our-products-btn:focus {
    color: var(--color-text-unaccent);
    background-color: var(--color-hover);
}

.link-portfolio {
    text-decoration: none;
    color: inherit;
}

/* footer */
.footer {
    background-color: var(--color-text-accent);
    color: #E7E9FC;
    padding: 100px 156px;
    width: 1440px;
}

.footer-block {
    width: 264px;
}

.footer-block p {
    margin-top: 16px;
}

.logo-footer {
    color: var(--color-text-unaccent);
}